<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../Scripts/jquery-2.1.0.js" type="text/javascript"></script>
    <script src="../Scripts/knockout-2.3.0.js" type="text/javascript"></script>
    <script src="../Scripts/JScript1.js" type="text/javascript"></script>
</head>
<body>
test
<table>
    <thead>
        <tr>
            <td>Cancion</td>
            <td>Tipo</td>
            <td>Ultima Vez</td>
            <td>Añadir</td>
        </tr>
    </thead>
    <tbody>
    <!-- ko foreach: canciones -->
    <tr>
        <td><span data-bind="text: nombre"></span></td>
        <td><span data-bind="text: tipo"></span></td>
        <td><span data-bind="text: ultimaVez"></span></td>
        <td><button data-bind="click: $parent.add">Add</button></td>
    </tr>
    <!-- /ko-->
    </tbody>
</table>
<!-- ko if: cancionesSeleccionadas().length>0 -->
<table>
    <thead>
    <tr>
        <td>Nombre</td>
        <td>Tipo</td>
        <td>Subir</td>
        <td>Bajar</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        <!-- ko foreach: cancionesSeleccionadas-->
        <tr>
            <td><span data-bind="text: nombre"></span></td>
            <td><span data-bind="text: tipo"></span></td>    
            <td><button data-bind="click: $parent.up">Up</button></td>
            <td><button data-bind="click: $parent.down">Down</button></td>
            <td><button data-bind="click: $parent.remove">Remove</button></td>
        </tr>
        <!-- /ko-->
    </tbody>
</table>
<!-- /ko -->
<script type="text/javascript">
    $(document).ready(function () {
        var model = new zg.viewModel();
        model.load();
        ko.applyBindings(model);
    });
</script>
</body>
</html>
