@model IEnumerable<AlabanzaPage.Models.Usuario>
@using AlabanzaPage.Tools
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Usuarios</h2>

<p>
    @Html.ValidatedActionLink(Request,"Nuevo Usuario","Create","Usuario")    
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            User
        </th>
        <th>
            Nombre
        </th>
        <th>
            Opciones
        </th>        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.ValidatedActionLink(Request,"Edit","Edit","Usuario",new { item.Id })
                
            </td>
        </tr>
    }

</table>
