@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bs-component">
    <a href="/Cancion">
        <div class="alert alert-info outline-outward-info">
            <strong>Canciones</strong>
        </div>
    </a>
</div>
<div class="bs-component">
    <a href="/Lista">
        <div class="alert alert-success outline-outward-success">
            <strong>
                Lista Activa
            </strong>
        </div>
    </a>
</div>
<div class="bs-component">
    <a href="/Usuario">
        <div class="alert alert-warning outline-outward-warning">
            <strong>Usuarios</strong>
        </div>
    </a>
</div>

