@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Listado Canciones</h4>
            </div>
            <div class="modal-body">
                <!--div id="listadoCanciones" style="display:none"-->
                <div id="listadoCanciones">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr><td>Nombre</td><td>Tipo</td><td>Ultima Vez</td></tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: listado-->
                            <tr data-bind="click: $root.select,css: {success: selected}">
                                <td><span data-bind="text: nombre"></span></td>
                                <td><span data-bind="text: tipo"></span></td>
                                <td><span data-bind="date: ultimaVez"></span></td>
                            </tr>
                            <!-- /ko-->
                        </tbody>
                    </table>
                    @*<input id="btnCloseCanciones" type="button" value="Cerrar listado Canciones">*@
                </div>
                @*<input id="btnCanciones" type="button" value="Ver listado Canciones">*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--button type="button" class="btn btn-primary">Save changes</!--button-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
    Ver Listado Canciones
</button>

<form>
    <!-- ko with: lista-->

    <fieldset>
        <div class="form-group">
            <label id="letraLabel" class="col-sm-2 control-label" data-bind="value: fecha">letra:</label>
        </div>
        <div class="form-group">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr><td>Nombre</td><td>Tipo</td><td>Orden</td></tr>
                </thead>
                <tbody>
                    <!-- ko foreach: canciones-->
                    <tr>
                        <td><span data-bind="text: nombre"></span></td>
                        <td><span data-bind="text: tipo"></span></td>
                        <td><span data-bind="click: $root.up" class="ui-icon-arrow-1-n">Up</span></td>
                        <td><span data-bind="click: $root.down" class="ui-icon-arrow-1-s">Down</span></td>
                    </tr>
                    <!-- /ko-->
                </tbody>
            </table>
        </div>
    </fieldset>
    <button type="submit" data-bind="click: save">Guardar</button>
<!--/ko-->
</form>

<script>
    $(document).ready(function () {

        //$("letraLabel").datepicker();
        var model = new zg.listaVM();
            model.loadCanciones();
            ko.applyBindings(model);
        });
</script>

    <script src="~/Scripts/KnockoutModel/lista_model.js"></script>
    <script src="~/Scripts/knockoutViewModel/lista_viewmodel.js"></script>
    <script src="~/Scripts/knockoutViewModel/cancion_viewmodel.js"></script>
    <script src="~/Scripts/KnockoutModel/cancion_model.js"></script>

