<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfTest.Properties.Settings>
            <setting name="ConnectionMongo" serializeAs="String">
                <value>mongodb://pagiel:pagiel@kratos.zeitgeist.com.co:27017/alabanza</value>
            </setting>
            <setting name="Db" serializeAs="String">
                <value>alabanza</value>
            </setting>
            <setting name="CancionesCollection" serializeAs="String">
                <value>canciones</value>
            </setting>
            <setting name="ListaCollection" serializeAs="String">
                <value>lista</value>
            </setting>
            <setting name="UsuariosCollection" serializeAs="String">
                <value>usuarios</value>
            </setting>
        </WpfTest.Properties.Settings>
    </userSettings>
</configuration>