@if(Request.IsAuthenticated) {
    <text><span style="color:#FFFFFF"> Bienvenido <strong>@User.Identity.Name</strong>!  @Html.ActionLink("Cerrar Sesión", "LogOff", "Account")</span></text>
}
else
{
    @:[<span>@Html.ActionLink("Inicio Sesión", "LogOn", "Account")</span>]
}
